@media screen and (min-width: 400px) and (max-width: 559px){

    .txt1{
        text-align: center;
        font-family: 'Dela Gothic One', cursive;
        font-size: 25px;
        color:#FFF;
        margin: 20px 25px;
        height: 30px;
    }

    .quadrado{
        background-color:#7FCBB1;
        height: 56em;
        width: 25.9em;
    }
    .cx1,
    .cx2,
    .cx3,
    .cx4,
    .cx5{
    font-family:'Open Sans', sans-serif;
    font-weight:bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    background-color: #FFF;
    border-radius: 5px;
    height: 40px;
    width: 19em;
    margin: auto;
    border-right: solid 1px #ccc;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.cx5{
    margin-top: 30px;
    
}

.caixatxt{
    margin-left: 62px;
    border: transparent;
    transform: none;
    height: 15px;
    width: 18em;
    outline: none;
    font-size: 17px;
}

.caixatxt2{
    margin-left: 65px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 14em;
    outline: none;
    font-size: 17px;
}
.caixatxt3{
    margin-left: 25px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 8em;
    outline: none;
    font-size: 17px;
}
.caixatxt4{
    margin-left: 73px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 40rem;
    outline: none;
    font-size: 19px;
}
.caixatxt5{
    margin-left: 35px;    
    border: transparent;
    transform: none;
    height: 20px;
    width: 40rem;
    outline: none;
    font-size: 19px;
}

.tel,
.user,
.mail,
.calendar,
.clock{
    height: 20px;
}
.online{
    font-family:'Open Sans', sans-serif;
    font-weight:bolder;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #FFF;
    background-color: #FFF;
    border-radius: 12px;
    height: 40px;
    width: 17em;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.caixita{
    margin-top: 4.6px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
}

.confirmacaotxt{
    color: black;
    font-weight: bold;
    height: 20px;
    margin-left: 10px;
    font-size: 18px;
    padding-left: -6px;
    
}
.caixas{
    margin-top: 9em;
}
.t{
    left: 37%;
    height: 50px;
}
.t2{
    height: 48px;
}
.confirm{
    margin-top: 20px;
}
.agend{
    height: 40px;
    font-size: 22px;
    padding-top: 12px;
}
}

