@media screen and (min-width: 800px) and (max-width: 1000px) {

    .txt1
    {
        text-align: center;
        font-family: 'Dela Gothic One', cursive;
        font-size: 32px;
        color:#FFF;
        margin: 20px 25px;
        height: 50px;
    }

    .t
    {
        left: 42%;
    }

    .quadrado
    {
        background-color:#7FCBB1;
        height: 43em;
        width: 33em;
        margin-top: 13em;
    }
    
    .cx1,
    .cx2,
    .cx3,
    .cx4,
    .cx5{
    font-family:'Open Sans', sans-serif;
    font-weight:bolder;
    font-size: 24px;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    background-color: #FFF;
    border-radius: 5px;
    height: 30px;
    width: 19em;
    margin: auto;
    border-right: solid 1px #ccc;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: -10px;
    }

    .cx5
    {
        margin-top: 30px;
        
    }

    .caixatxt
    {
        margin-left: 70px;
        border: transparent;
        transform: none;
        height: 15px;
        width: 19em;
        outline: none;
        font-size: 14px;
        font-family: 'Dela Gothic One', cursive;
    }

    .caixatxt2
    {
        margin-left: 72px;
        border: transparent;
        transform: none;
        height: 20px;
        width: 19em;
        outline: none;
        font-size: 14px;
        font-family: 'Dela Gothic One', cursive;
    }

    .caixatxt3
    {
        margin-left: 27px;
        border: transparent;
        transform: none;
        height: 20px;
        width: 19em;
        outline: none;
        font-size: 14px;
        font-family: 'Dela Gothic One', cursive;
    }

    .caixatxt4
    {
        margin-left: 81px;
        border: transparent;
        transform: none;
        height: 20px;
        width: 40rem;
        outline: none;
        font-size: 14px;
        font-family: 'Dela Gothic One', cursive;
    }

    .caixatxt5
    {
        margin-left: 38px;
        border: transparent;
        transform: none;
        height: 20px;
        width: 40rem;
        outline: none;
        font-size: 14px;
        font-family: 'Dela Gothic One', cursive;
    }

    .tel,
    .user,
    .mail,
    .calendar,
    .clock
    {
        height: 24px;
    }

    .online
    {
        font-family:'Open Sans', sans-serif;
        font-weight:bolder;
        font-size: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #FFF;
        background-color: #FFF;
        border-radius: 12px;
        height: 29px;
        width: 15em;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    }

    .caixita
    {
        margin-top: 4.6px;
        margin-left: 5px;
        height: 20px;
        width: 20px;
    }

    .confirmacaotxt
    {
        color: black;
        font-weight: bold;
        height: 20px;
        margin-left: 10px;
        font-size: 22px;
    }
    .t{
        left: 42.2%;
    }
    .confirm{
        margin-top: 20px;
    }
    .agend{
        font-size: 25px;
    }
}