@media screen and (min-width: 105rem) and (max-width: 111.188rem)
{
    /* Faixa 1 */

    .bt-me
    {
        margin-left: -40px;
        margin-top: 20px;
    }

    .logo-me
    {
        margin-left: 125px;
    }

    .text-me
    {
        margin-left: 80px;
    }

    .nome-me
    {
        font-size: 40px;

        margin-left: 120px;
    }

    .desc-me
    {
        font-size: 30px;
        
        margin-left: 30px;
    }

    /* Faixa 2 */

    .diz
    {
        background-position: 820px;
    }

    .tx-d
    {
        margin-left: 50px;
    }

    .img-d
    {
        margin-left: 50px;
    }

    /* Faixa 3 */

    .oque
    {
        background-position: 780px;
    }

    .img-oq
    {
        margin-left: 280px;
    }

    .tx-oq
    {
        margin-right: 350px;
    }

    /* Faixa 4 */

    .a
    {
        background-size: 820px;
        background-position: 600px;
    }

    .img-f4
    {
        width: 220px;
        height: 300px;

        margin-right: 50px;
    }

    .tx-a
    {
        margin-left: 50px;
    }

    /* Faixa 5 */

    .bios
    {
        background-size: 1250px;
        background-position-y: 190px;
        background-position-x: 20px;
    }

    
    /* Rodapé */

    /* rodapé pt 1 */

    footer
    {
        width: 1700px;

        background-size: 1620px;
        background-position-y: 30px;
    }

    .rd-rdsc
    {
        margin-top: 100px;
        margin-left: 0px;
        margin-right: 80px;
    }

    .txt-rd
    {
        margin-left: 70px;
    }

    .img-rd
    {
        width: 270px;
        height: 170px;
        margin-left: 50px;
    }

    .p-rd
    {
        width: 300px;

        font-size: 20px;

        margin-right: 60px;
        margin-left: 35px;
    }

    .rdsc-imgs
    {
        margin-top: 20px;
        margin-left: 20px;

        width: 40px;
        height: 37px;
    }

    .rdsc
    {
        margin-left: 32px;
    }

    /* rodapé pt 2 */

    hr
    {
        margin-top: 150px;
        height: 150px;
    }

    .rd-pt
    {
        margin-top: 100px;
        margin-left: 20px;
    }

    .p-pt
    {
        font-size: 20px;
        text-align: center;

        margin-left: 22px;

        width: 300px;
    }

    .img-pt
    {
        width: 330px;
        height: 200px;
    }

    /* rodapé pt 3 */

    .rd-cnt
    {
        margin-top: 110px;
        margin-right: 30px;
    }

    .cnt-nos
    {
        font-size: 1.5em;

        margin-left: 70px;
        margin-bottom: 40px;
    }

    .cnt
    {
        font-size: 25px;

        margin-right: 100px;
    }

    .img-cnt
    {
        margin-top: 0px;
        margin-left: 46px;

        width: 40px;
        height: 40px;

    }

    .rdsc-imgs-2
    {
        margin-top: 20px;
        margin-left: 20px;

        width: 30px;
        height: 27px;
    }

    .rdsc
    {
        padding-left: 90px;
    }
}