@media screen and (min-width: 118.76rem)
{
    /* Faixa 1 */

    .me
    {
        display: flex;
        flex-direction: column;

        height: 790px;

        background-size: 1500px;
        background-position: right;
        background-position-y: 0px;
    }

    .bt-me
    {
        margin-left: 0px;
        margin-top: 30px;
    }

    .logo-me
    {
        margin-left: 200px;

        width: 300px;
        height: 200px;
    }

    .text-me
    {
        margin-left: 190px;
    }

    .nome-me
    {
        font-size: 40px;

        margin-left: 235px;
    }

    .desc-me
    {
        font-size: 30px;
        
        margin-left: 140px;
    }

    /* Faixa 2 */

    .diz
    {
        background-position-x: 1050px;
        background-position-y: 250px;
        background-size: 800px;
    }

    .img-d
    {
        margin-right: 20em;
        margin-left: 5em;
    }

    .img-f2
    {
        width: 500px;
        height: 380px;
    }

    .tx-d
    {
        margin-right: 160px;
        margin-top: 40px;
    }

    .h1-d
    {
        font-size: 30px;
        line-height: 10px;

        height: 10px;

        margin-top: 79px;
    }

    .p-d
    {
        font-size: 20px;
        line-height: 20px;    
        
        width: 520px;

        margin-top: 40px;
    }

    /* Faixa 3 */

    .oque
    {
        background-position-x: 900px;
        background-position-y: 280px;
        background-size: 820px;
    }

    .botao-anchor
    {
        margin-left: 30px;
    }

    .img-oq
    {
        margin-right: 20em;
        margin-left: 5em;
    }

    .img-f3
    {
        width: 500px;
        height: 380px;
    }

    .tx-oq
    {
        margin-right: 120px;
        margin-top: 50px;
    }

    .h1-oq
    {
        font-size: 30px;
        line-height: 10px;

        height: 20px;

        margin-top: 50px;
        margin-left: -180px;
    }

    .p-oq
    {
        font-size: 20px;
        line-height: 20px;    
        
        width: 500px;

        margin-top: 40px;
    }

    /* Faixa 4 */

    .a
    {
        background-position: 780px;
        background-size: 1100px;
    }

    .img-a
    {
        margin-right: -200px;

        padding-bottom: 50px;
    }

    .img-f4
    {
        border-radius: 70px;

        width: 270px;
        height: 370px;
    }

    .tx-a
    {
        margin-right: 600px;
        margin-left: -180px;
        margin-top: 20px;
    }

    .h1-a
    {
        font-size: 30px;

        height: 10px;
    }

    .h1-a2
    {
        font-size:30px;
        line-height: 10px;

        height: 20px;

        margin-top: 20px;
    }

    .p-a
    {
        font-size: 24px;   
        
        width: 700px;
        line-height: 1.2em;

        margin-top: 60px;
    }

    /* Faixa 5 */

    .bios
    {
        background-size: 1700px;
    }

    .img-b
    {
        margin-right: 0px;
        margin-left: -100px;

        padding-bottom: 50px;
    }

    .img-f5
    {
        border-radius: 70px;

        width: 270px;
        height: 370px;
    }

    .tx-b
    {
        margin-right: -150px;
        margin-left: 700px;
        margin-top: 20px;
    }

    .h1-b
    {
        font-size: 30px;

        height: 10px;
    }

    .h1-b-2
    {
        font-size:30px;
        line-height: 10px;

        height: 20px;

        margin-top: 20px;
    }

    .p-b
    {
        font-size: 24px;   
        
        width: 580px;
        line-height: 1.2em;

        margin-top: 60px;
    }

    /* Rodapé */

/* rodapé pt 1 */

    footer
    {
        width: 1930px;
        height: 500px;

        background-size: 1900px;
        background-position: 0px;
    }

    .rd-rdsc
    {
        margin-top: 0px;
        margin-left: -15px;
    }

    .txt-rd
    {
        margin-left: 70px;
    }

    .img-rd
    {
        width: 200px;
        height: 120px;
        margin-left: 50px;
    }

    .p-rd
    {
        width: 300px;

        font-size: 20px;

        margin-right: 60px;
    }

    .rdsc-imgs
    {
        margin-top: 20px;
        margin-left: 19px;

        width: 40px;
        height: 37px;
    }

    /* rodapé pt 2 */

    hr
    {
        margin-top: 100px;
        height: 150px;
    }

    .rd-pt
    {
        margin-top: 110px;
    }

    .p-pt
    {
        font-size: 20px;

        width: 300px;
    }

    /* rodapé pt 3 */

    .rd-cnt
    {
        margin-top: 110px;
        margin-right: 30px;
    }

    .cnt-nos
    {
        font-size: 1.5em;

        margin-left: 60px;
    }

    .cnt
    {
        font-size: 20px;

        margin-right: 100px;
    }

    .img-cnt
    {
        margin-top: 0px;
        margin-left: 46px;

        width: 40px;
        height: 40px;

    }

    .rdsc-imgs-2
    {
        margin-top: 20px;
        margin-left: 20px;

        width: 30px;
        height: 27px;
    }

    .rdsc
    {
        padding-left: 90px;
    }
}