.bd-Detalhe
{
    background-color: white;

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
.adm
{
    background-color:#10DA96 ;
}





header
{
    background-color: #10DA96;
    height:11em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    height: 15em;
    width: 15em;

  
    margin-left: 0px;
}

details
{
    text-align: center;
}

.filtros
{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

.filtragem
{
    margin-left: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 2vh;
    border: none;
    outline: none;
    padding: 3px
}


.agend{
    margin-top: 70px;
}


header .agend
{
    background-color: #baebdb;
    padding: 6px 10px;
    border-radius: 20px;
    width: 25vh;
    color: black;
    text-decoration: none;
    font-family: 'Dela Gothic One';
    font-size: 14px;
    margin-right: 50px;
    transition: transform .7s;
}
header .botao-agendar
{
    background-color: #baebdb;
    padding: 6px 12px;
    text-align: center;
    border-radius: 20px;
    width: 25vh;
    color: black;
    text-decoration: none;
    font-family: 'Dela Gothic One';
    font-size: 14px;
    margin-right: 50px;
    transition: transform .7s;
    margin-top: 2vh;
}
header .botao-sair
{
    background-color: #baebdb;
    padding: 6px 10px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Dela Gothic One';
    transition: transform .7s;
    border: none;
    outline: none;
    cursor: pointer;
}
header .botao-consultas
{
    background-color: #baebdb;
    padding: 6px 12px;
    text-align: center;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-family: 'Dela Gothic One';
    font-size: 14px;
    transition: transform .7s;
}
.botao-agendar:hover, .botao-sair:hover, .botao-consultas:hover{
    transform: scale(1.05);
}
.botoes{
    display: flex;
    flex-direction: column;
}
.agend:hover{
    transform: scale(1.05);
}
h5
{
    font-size: 17px;
}

header .seja-bem
{
    font-family: 'Dela Gothic One';
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 40vh;
    font-size: 3vh;
}



main{
    background-color: #baebdb;
    height: 100vh;
    width: 120vh;
    margin-left: 40vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border-radius: 2vh;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));

}
.consultas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.detalhes{
    display: flex;
    flex-direction: row;
    justify-content: start;
    

}

}
