@media screen and (min-width: 12.813rem) and (max-width: 22.438rem){

    .bd-Detalhe
    {
        background-color: white;
        overflow-x: hidden ;
    
    
    .adm
    {
        background-color:#10DA96 ;
    }
    
    
    
    
    
    header
    {
        background-color: #10DA96;
        height:10em;
        width: 28em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header .logo
    {
        height: 9em;
        width: 9em;
    
      
        margin-left: -25px;
    }
    
    details
    {
        text-align: center;
    }
    
    .filtros
    {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        margin-top: -1vh;
    }
    
    .filtragem
    {
        margin-left: 40px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        border-radius: 2vh;
        border: none;
        outline: none;
        padding: 3px
    }
    
    
    
    
    
    header .botao-agendar
    {
        background-color: #baebdb;
        padding: 6px 10px;
        text-align: center;
        border-radius: 20px;
        width: 10vh;
        color: black;
        text-decoration: none;
        font-family: 'Dela Gothic One';
        font-size: 7px;
        margin-right: 130px;
        transition: transform .7s;
        margin-top: 2vh;
        margin-left: 10px;
        
    }
    header .botao-sair
    {
        background-color: #baebdb;
        padding: 6px 10px;
        border-radius: 15px;
        width: 13vh;
        color: black;
        text-decoration: none;
        font-family: 'Dela Gothic One';
        font-size: 7px;
        margin-left: 10px;
        
        transition: transform .7s;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .botao-agendar:hover, .botao-sair:hover{
        transform: scale(1.05);
    }
    h5
    {
        font-size: 17px;
    }
    
    header .seja-bem
    {
        font-family: 'Dela Gothic One';
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-left: -25px;
        font-size: 2.2vh;
    }
    
    
    main{
        background-color: #baebdb;
        height: auto;
        width: 15rem;
        margin-left: 7.5vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        border-radius: 2vh;
    
    }
    
    
    
    
    }
    
    }