
.bd-cad
{
    background-image: url('../../../public/images/WhatsApp\ Image\ 2022-06-04\ at\ 16.52.56.jpeg');
    background-size: 100% 100%;   
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.cadastre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quadrado
{
    background-color:#7FCBB1;
    height: 38em;
    width: 35em;
}

.txt1
{
    text-align: center;
    font-family: 'Dela Gothic One';
    font-size: 25px;
    color:#FFF;
    margin: 20px 25px;
    height: 30px;
}

.caixas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.cx1,
.cx2,
.cx3,
.cx4,
.cx5
{
    font-family:'Open Sans', sans-serif;
    font-weight:bolder;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    background-color: #FFF;
    border-radius: 5px;
    height: 30px;
    width: 26em;
    margin: auto;
    border-right: solid 1px #ccc;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: -10px;
}

.cx5
{
    margin-top: 30px;
}

.tel,
.user,
.mail,
.calendar,
.clock
{
    height: 20px;
}

.online1
    {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #FFF;
        background-color: #FFF;
        border-radius: 12px;
        height: 29px;
        width: 7em;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        margin-right: 10px;
        transition: transform .7s;
    }
    .online2
    {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #FFF;
        background-color: #FFF;
        border-radius: 12px;
        height: 29px;
        width: 7em;
        margin: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        transition: transform .7s;
    }
    online1:hover, online2:hover{
        transform:scale(1.05)
    }

.confirm
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family:'Open Sans', sans-serif;
    display:flex;
}

.agend
{
    background-color:#3fb181;
    border: solid;
    border-radius: 13px;
    border-style: none;
    width: 11em;
    font-family: 'Dela Gothic One';
    margin: auto;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    transition: transform 7s;
}

.voltar{
    background-color: #ffffff;
    padding: 6px 10px;
    border-radius: 20px;
    width: 10.3rem;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Dela Gothic One';
    font-size: 16px;
    margin-left: 10.8rem;
    margin-top: 2.7rem;
    margin-bottom: 1rem;
    transition: transform .7s;
    cursor: pointer;
    outline: none;
    border: none;
}
.agend:hover, .novo:hover, .voltar:hover{
    transform: scale(1.05);
}

.log
{

    background-color:#3E2671;
}

.caixatxt
{
    margin-left: 41px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 40em;
    outline: none;
}
.t
{
    border-left: 1px solid rgb(145, 146, 145);
    height: 40px;
    position: absolute;
    left: 43.5%;
}

.caixatxt2
{
    margin-left: 41px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 40rem;
    outline: none;
}

.caixatxt3
{
    margin-left: 13px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 40rem;
    outline: none;
}

.caixatxt4
{
    margin-left: 47px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 40rem;
    outline: none;
}

.caixatxt5
{
    margin-left: 17px;
    border: transparent;
    transform: none;
    height: 20px;
    width: 40rem;
    outline: none;
}

.confirmacaotxt
{
    color: black;
    font-weight: bold;
    height: 20px;
    margin-left: 10px;
}
.caixita
{
    margin-top: 4px;
    margin-left: 4px;
}

.t2
{
    border-left: 1px solid rgb(145, 146, 145);
    height: 30px;
    position: absolute;
    left: 49.2%;
}

.on{
    margin-left: -1vh;
    transition: transform .7s;
}
.on2{
    width: 20px;
    margin-right: 11vh;
    transition: transform .7s;
}
on:hover, on2:hover{
    transform:scale(1.05)
}

